@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: 'Kanit', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #C7C5F4, #776BCC);
}

.body2 {
    overflow: hidden;
}

.header {
    font-size: 1.2rem;
    color: white;
    text-align: center;
}

.header2 {
    font-size: 2rem;
    color: white;
    text-align: center;
    margin-top: 10%;
}

.input-group {
    text-align: center;
}

.input-group input {
    color: white;
    text-align: center;
    padding: 1rem 1.5rem 1rem 1.5rem;
    margin: 0 0 1% 0;
    font-size: 1rem;
    border: none;
    outline: none;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 15px;
    transition: 0.5s;
}

.input-group input::placeholder {
    text-align: center;
}

.input-group input:hover,
.input-group input:focus {
    background: white;
    color: #9082ff;
    padding: 1rem 2.5rem 1rem 2.5rem;
}

.btn {
    padding: 0.7rem 1rem 0.7rem 1rem;
    border: 1px solid white;
    color: white;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 15px;
    transition: 0.5s;
    cursor: pointer;
}

.btn:hover {
    background: white;
    color: #9082ff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

p {
    color: white;
    margin-top: 1%;
    text-align: center;
}

a {
    color: #594daf;
    text-decoration: underline;
}

.input-group select {
    text-align: center;
    color: white;
    padding: 1rem 5.3rem 1rem 5.3rem;
    margin: 0 0 1% 0;
    font-size: 1rem;
    border: none;
    outline: none;
    background: rgb(255, 255, 255, 0.2);
    border-radius: 15px;
    transition: 0.5s;
}

option,
optgroup {
    color: black;
}

.input-group select:hover,
.input-group select:focus {
    background: white;
    color: #9082ff;
    padding: 1rem 6.3rem 1rem 6.3rem;
}